/*****************************************************
 * Variables
 *****************************************************/
/*
  Media query breakpoints
*/
$breakpoint-tablet: 768px; /* phone <-> tablet */
$breakpoint-small: 1024px; /* tablet <-> small desktop */
$breakpoint-full: 1280px;  /* small desktop <-> full desktop */
$breakpoint-large: 2074px;  /* full desktop <-> large desktop */

:root {
  // text sizes
  --base-font-size: 8px;
  @media (max-width: $breakpoint-small) {
    --base-font-size: 7px;
  }
  @media (max-width: $breakpoint-tablet) {
    --base-font-size: 6px;
  }

  // fonts
  --base-fonts : 'Raleway', sans-serif;

  // pallette
  --light-grey : rgb(220,220,220);
  --dark-grey : rgb(100,100,100);

  // colour aliases
  --text-primary: var(--dark-grey);
}

/*****************************************************
* General Styles
*****************************************************/

html, body, div, header, footer, nav, main, section, article, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: top;
}
html, body {
  font-family: var(--base-fonts);
  font-size: var(--base-font-size);
  font-weight: var(--weight-normal);
  color: var(--text-primary);
}

body {
  background: var(--light-grey);
}

h1, h2 {
  font-size: 3.2rem;
  font-weight: 500;
}
p {
  font-size: 2.7rem;
  margin-bottom: 3rem;
  em {
    background: green;
    color: white;
  }
}
a {
  color: var(--text-primary);
  font-style: italic;
  font-weight: var(--weight-bolder);
}
ul {
  li {
    font-size: 2rem;
  }
}

/*****************************************************
* Element Styles
*****************************************************/

header, main, footer {
  margin: 5rem;
  border: 1px solid var(--dark-grey)
}
nav {
  margin: 1rem 5rem;
  border: 1px solid red;
}