{
  "semi": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 100,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.hbs",
      "options": {
        "parser": "html"
      }
    }
  ]
}
